<p>Canal de contacto disponible!</p>
<form [formGroup]="detalleFormGrup">

    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" readonly>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>telefono</mat-label>
        <input matInput formControlName="telefono">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>linkedin</mat-label>
        <input matInput formControlName="linkedin">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>url</mat-label>
        <input matInput formControlName="url">
    </mat-form-field>
    <br>

</form>