<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    
                    <li><a href="#">Nuestro Servicio</a></li>
                    <li><a href="#">Politica de Privacidad</a></li>
                    <li><a href="#">Programa de Afiliados</a></li>
                    <li><a href="#">Transparencia</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Correo YouLearn</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Libro de Reclamaciones</a></li>
                    <li><a href="#">ChatBot</a></li>
                    <li><a href="#">Opciones de Pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Nosotros</h4>
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Convivencia UPC</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Nuestras Redes Sociales</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">X</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>