    <header>
        <div class="contenedor_header">
        <div class="menu_bar">
            <div class="logo">
                <img src="/logo.png" routerLink="">
            </div>
        </div>
        <div class="tipo_usuario">
          <h2>{{currentText}}</h2>
        </div>
        <div class="div_home">
            <a routerLink="/home">
                <span>HOME</span>
                <mat-icon>home</mat-icon>
            </a>
        </div>
        <div class="boton_3p">
            
            <button id="icon_menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="button-container">
              <mat-menu #menu="matMenu" xPosition="before">
                  <div class="button-wrapper">
                      <button class="my-button" mat-button (click)="openDialog()">
                          <img id="profile" src="/profile.svg">
                          <span> Ver mi Perfil</span>
                      </button>
                  </div>
                  <div class="button-wrapper">
                      <button class="my-button" mat-button (click)="toggleText()">
                          <img id="teacher" src="/teacher.svg">
                          <span> Modo {{previousText}}</span>
                      </button>
                  </div>
              </mat-menu>
          </div>
        </div>
        </div>
    </header>