.contenedor_header{
    background: #353FF2;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo img{
    width: 70px;
    cursor: pointer;
}

  .boton_3p{
    position: absolute;
    top: 35;
    right: 0;
}

#profile{
    width: 25px;
}
#teacher{
    width: 25px;
}
#icon_menu{
    color: #fff;
}