<h2>Asesorias</h2>

<span>Cantidad de Asesorias: {{cantidad}}</span>
<br>
<br>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<span>   |   </span>
<button mat-flat-button color="accent" routerLink="/detail-asesoria">Agregar Asesoria</button>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="alumno">
      <th mat-header-cell *matHeaderCellDef> Nombre de Alumno</th>
      <td mat-cell *matCellDef="let element"> {{element.alumno?.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> Nombre de Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.curso?.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="horaInicio">
        <th mat-header-cell *matHeaderCellDef> Hora de Inicio </th>
        <td mat-cell *matCellDef="let element"> {{ element.horaInicio}} </td>
      </ng-container>

      <ng-container matColumnDef="horaFin">
        <th mat-header-cell *matHeaderCellDef> Hora de Termino </th>
        <td mat-cell *matCellDef="let element"> {{ element.horaFin}} </td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element"> {{ element.montoCobrado}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> ¿ACEPTADA? </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element"> 
        <a routerLink="/edit-asesoria/{{element.id}}">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)="eliminar(element.id)" style="cursor: pointer;">
          <mat-icon>delete</mat-icon>
        </a>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  