<p>detail-asesor curso!</p>

<span *ngIf="id==0">Registrar los datos de la nueva Asignación</span>
<span *ngIf="id!=0">Actualizar los datos de la Asignacion</span>

<br>
<br>
<form [formGroup]="detalleFormGroup">

    <mat-form-field *ngIf="id!=0">        
        <mat-label>Id</mat-label>
        <input matInput  formControlName="id" readonly>
    </mat-form-field>
    <br>
    <!-- <mat-form-field>        
    <mat-label>Asesor</mat-label>
    <mat-select formControlName="asesor">
        <mat-option *ngFor="let asesor of listAsesor" [value]="asesor.id">{{asesor.nombre}} </mat-option>
    </mat-select>
</mat-form-field> 
    <mat-form-field>        
        <mat-label>Curso</mat-label>
        <mat-select formControlName="curso">
            <mat-option *ngFor="let curso of listCursos" [value]="curso.id">{{curso.nombre}} </mat-option>
        </mat-select>
    </mat-form-field>
    <br>-->
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>
    <span style="color: red;" *ngIf="detalleFormGroup.get('nombre')?.hasError('required') && detalleFormGroup.get('nombre')?.touched">Este campo es obligatorio</span>
    <br>
    <mat-form-field>
        <mat-label>Ciclo</mat-label>
        <input matInput formControlName="ciclo">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Nivel de Dominio</mat-label>
        <input matInput formControlName="nivelDominio">
    </mat-form-field>
</form>

<button mat-flat-button color="warn" routerLink="/list-asesor-curso">Regresar</button>
<span> | </span>
<button mat-flat-button color="accent" (click)="grabarAsesorCurso()" [disabled]="detalleFormGroup.invalid">
<span *ngIf="id==0">Agregar</span>
<span *ngIf="id!=0">Actualizar</span>

    

</button>