<article id="cuerpo">
    <article id="seccion1">
        <aside id="izquierda">
            <img id="perfil" src="/imgprofile.png">
        </aside>
        
        <aside id="derecha">
            <img id="editar" src="/pencil.svg">
        </aside>
        <aside class="seccion2">
            <h5>Nombre</h5>
            <h5>Apellido</h5>
        </aside>

        <aside class="seccion3">
            <aside class="seccion3_1">
              <h5>username</h5>
              <h6>Se union en</h6>  
              <h6>"fecha registro"</h6>
              <h6>CICLO</h6>  
              <h6>"ciclo"</h6>   
            </aside>
        </aside>
    </article>
</article>