<h3>Ingrese a la Your Learn</h3>

<form [formGroup]="loginFormGroup">

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="userName">
    </mat-form-field>
    <span style="color: red;" *ngIf="loginFormGroup.get('userName')?.hasError('required') && loginFormGroup.get('userName')?.touched">Este campo es obligatorio</span>
    <span style="color: red;" *ngIf="loginFormGroup.get('userName')?.hasError('minlength') && loginFormGroup.get('userName')?.touched">Este campo requiere un minimo de 5 caracteres</span>
    <br>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="mostrarPassword?'text':'password'">
    </mat-form-field>
    <button (click)="mostrarPassword=!mostrarPassword" >
        <mat-icon>{{mostrarPassword?"visibility_off":"visibility"}}</mat-icon>
    </button>
    <span style="color: red;" *ngIf="loginFormGroup.get('password')?.hasError('required') && loginFormGroup.get('password')?.touched">Este campo es obligatorio</span>
    <span style="color: red;" *ngIf="loginFormGroup.get('password')?.hasError('minlength') && loginFormGroup.get('password')?.touched">Este campo requiere un minimo de 5 caracteres</span>
    <br>
    <br>
    <button mat-flat-button color="warn" routerLink="/register">No estoy registrado</button>
    <span> | </span>
    <button mat-flat-button color="accent" (click)="logearUsuario()">Ingresar</button>

</form>
